# Association Rule

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='white')

In [2]:
tmdb = pd.read_csv('data/tmdb_5000_features.csv')
tmdb.head()

,id,title,language,overview,popularity,release_date,runtime,vote_average,vote_count,cast_num,...,genre_1,genre_2,keyword_0,keyword_1,keyword_2,keyword_3,keyword_4,company_0,company_1,country
0,19995,Avatar,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,162.0,7.2,11800,83,...,Adventure,Fantasy,culture clash,future,space war,space colony,society,Ingenious Film Partners,Twentieth Century Fox Film Corporation,US
1,285,Pirates of the Caribbean: At World's End,en,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,169.0,6.9,4500,34,...,Fantasy,Action,ocean,drug abuse,exotic island,east india trading company,love of one's life,Walt Disney Pictures,Jerry Bruckheimer Films,US
2,206647,Spectre,en,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,148.0,6.3,4466,83,...,Adventure,Crime,spy,based on novel,secret agent,sequel,mi6,Columbia Pictures,Danjaq,GB
3,49026,The Dark Knight Rises,en,Following the death of District Attorney Harve...,112.312950,2012-07-16,165.0,7.6,9106,158,...,Crime,Drama,dc comics,crime fighter,terrorist,secret identity,burglar,Legendary Pictures,Warner Bros.,US
4,49529,John Carter,en,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,132.0,6.1,2124,27,...,Adventure,Science Fiction,based on novel,mars,medallion,space travel,princess,Walt Disney Pictures,NaN,US

In [4]:
tmdb.columns

Index(['id', 'title', 'language', 'overview', 'popularity', 'release_date',
       'runtime', 'vote_average', 'vote_count', 'cast_num', 'cast_0',
       'cast_0_gender', 'cast_1', 'cast_1_gender', 'cast_2', 'cast_2_gender',
       'crew_num', 'director', 'genre_0', 'genre_1', 'genre_2', 'keyword_0',
       'keyword_1', 'keyword_2', 'keyword_3', 'keyword_4', 'company_0',
       'company_1', 'country'],
      dtype='object')

In [32]:
tmdb_genre = tmdb[['genre_0', 'genre_1', 'genre_2']].dropna()
tmdb_genre = tmdb_genre.values.tolist()

In [88]:
tmdb_keyword = tmdb[['keyword_0','keyword_1', 'keyword_2', 'keyword_3', 'keyword_4']].dropna()
tmdb_keyword = tmdb_keyword.values.tolist()

## 1 Apriori Algorithm

In [3]:
from apyori import apriori

In [96]:
def dataframe_asso_rules(rules):
    matrix = []
    for rule in rules:
        row = []
        
        genres = list(rule[0])
        row.append(len(genres))
        
        if len(genres)==1:
            row.append(genres[0])
        else:
            row.append(genres[0] + " -> " + genres[1])

        row.append(str(rule[1]))
        row.append(str(rule[2][0][2]))
        
        matrix.append(row)
    
    return pd.DataFrame(matrix, columns=['items', 'rule', 'support', 'confidence'])

In [86]:
def print_asso_rules(rules):
    for rule in rules:

        genres = list(rule[0])

        if len(genres)==1:
            print("Simple Rule: " + genres[0])
        else:
            print("Association Rule: " + genres[0] + " -> " + genres[1])

        print("Support: " + str(rule[1]))

        print("Confidence: " + str(rule[2][0][2]))
        print()

In [83]:
genre_asso_rules = list(apriori(tmdb_genre, max_length=2))

In [84]:
len(genre_asso_rules)

20

In [97]:
dataframe_asso_rules(genre_asso_rules)

    items                 rule              support           confidence
0       1               Action  0.39395212095758086  0.39395212095758086
1       1            Adventure   0.2876942461150777   0.2876942461150777
2       1               Comedy  0.34523309533809327  0.34523309533809327
3       1                Crime  0.20327593448131037  0.20327593448131037
4       1                Drama  0.49013019739605207  0.49013019739605207
5       1               Family  0.12221755564888702  0.12221755564888702
6       1              Fantasy  0.12977740445191097  0.12977740445191097
7       1               Horror  0.10415791684166317  0.10415791684166317
8       1              Mystery  0.10373792524149517  0.10373792524149517
9       1              Romance  0.17135657286854264  0.17135657286854264
10      1      Science Fiction   0.1360772784544309   0.1360772784544309
11      1             Thriller  0.29357412851742964  0.29357412851742964
12      2  Adventure -> Action  0.17639647207055859   0.4477611940298507
13      2      Action -> Drama  0.11633767324653507   0.2953091684434968
14      2   Thriller -> Action  0.12599748005039899   0.3198294243070362
15      2      Comedy -> Drama   0.1511969760604788    0.437956204379562
16      2    Romance -> Comedy  0.10919781604367913  0.31630170316301703
17      2       Drama -> Crime  0.10793784124317514   0.5309917355371901
18      2     Romance -> Drama   0.1348173036539269   0.2750642673521851
19      2    Thriller -> Drama  0.13019739605207895   0.2656383890317052

In [90]:
keyword_asso_rules = list(apriori(tmdb_keyword))

In [91]:
len(keyword_asso_rules)

0