In [1]:
import pandas as pd
import seaborn as sns
import json
import numpy as np

sns.set(style='whitegrid')
movies_df = pd.read_csv('output/tmdb_5000_cleaned.csv')

In [7]:
# extract id from json before compute similarity, return a list
def extract_json(df, label, row):
    items = json.loads(df.loc[row, label])
    ids = []
    for item in items:
        # for production_countries, not numeric ids
        if label == 'production_countries':
            ids.append(item['iso_3166_1'])
        elif label == 'spoken_languages':
            ids.append(item['iso_639_1'])
        else:
            ids.append(item['id'])
    return ids

# return number of same element in two lists, return int
def comp_similarity(x, y):
    return len(set(x).intersection(set(y)))

##### discarded the text columns like title and  overview

In [3]:
movies_df = movies_df.drop(columns = ['title', 'original_title', 'original_language', 'overview'])
movies_df.head()

,id,budget,cast,crew,genres,keywords,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,vote_average,vote_count
0,19995,237000000,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",7.2,11800
1,285,300000000,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",6.9,4500
2,206647,245000000,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",6.3,4466
3,49026,250000000,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",7.6,9106
4,49529,260000000,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",6.1,2124

##### 4 types of data in this dataset:
1. ID
2. Numeric: col = ['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count']
3. Json: col = ['cast', 'crew', 'genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages']
4. Special: col = ['release_date']
##### how to compute the similarity?
1. Numeric: The number
2. Json: by counting the number of same elements in one dimension
3. Release Date: by substracting the date
After getting numbers, it is needed to normalize the dataset.

In [18]:
# we can determine the similarity between different movie by counting the number of same elements in one dimension
json_col = ['cast', 'crew', 'genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages']

# compute similarity of 0 and 1 for the above dimensions
for label in json_col:
    row1 = extract_json(movies_df, label, 0)
    row2 = extract_json(movies_df, label, 1)
    print(comp_similarity(row1, row2))

0
1
3
0
0
1
1

In [ ]:
# Build similarity matrix
# normalize the similarity value of each pair by 1-(A-B)/range(col) or A.intersection(B)/avg(len(one cell))
num_col = ['budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count']
json_col = ['cast', 'crew', 'genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages']
special_col = ['release_date']

# filled with 0 entries
simatrix = np.zeros(len(movies_df), len(movies_df))

# compute range(col) or avg(len(one cell))
def normalize(type):
    # TO-DO: return num value

# for every combination of rows
for i in range(len(movies_df)):
    for j in range(len(movies_df)):
        sim_all  = 0
        if i != j:
            # for every json feature
            for col in json_col:
                # extract i
                movies_df.loc(row, i)
                id_i = extract_json(movies_df, col, i)
                # extract j
                movies_df.loc(row, j)
                id_j = extract_json(movies_df, col, j)
                # compute normalized similarity of this feature
                sim_json = comp_similarity(id_i, id_j)/normalize('json')
                # combine similarity from each feature (now using add, can consider more complicated methods)
                sim_all += sim_json
            
            # for every numeric feature
            # ... TO-DO
            
        # same element, similarity = 1
        else:
            sim_all = 1
        # put sim_all into matrix
        simatrix[i][j] = sim_all