# Chapter 5 Classifiers

# Import Training&Test Data after Data Preprocessing

All csv files imported here shall be shuffled, thus shall be the same with shuffled one displayed in Data Preprocessing (in datasplit_train_test.ipynb file). Data shall be the same version with backup stored in file chp5_classifiers.

In [12]:
import pandas as pd
import numpy as np

In [134]:
# Read in csv file of training and testing record
train_df = pd.read_csv("./chp5_classifiers/version_X/train_set.csv")
test_df = pd.read_csv("./chp5_classifiers/version_X/test_set.csv") 

test_wtpopl = pd.read_csv("./chp5_classifiers/version_X/test_wtpopl.csv")

In [14]:
# Display first 5 rows of training dataframe, check whether the same with shuffled one displayed in Data Preprocessing file
train_df.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity
0,0,202,13,5,31,0,0,1,1.0
1,0,371,1212,13,584,6,0,0,0.0
2,26,1690,1956,5,1051,9,0,0,0.0
3,0,32,135,6,344,0,0,3,1.0
4,0,518,1793,8,942,0,0,1,0.0

In [15]:
# Extract label class popularity from training set
labl_df = train_df['popularity']
labl_df.head()

0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
Name: popularity, dtype: float64

In [16]:
# Remove label class from training set
train_set = train_df.drop(columns=['popularity'])
train_set.head()

   language  cast_0  director  genre_0  company_0  country  cast_num  crew_num
0         0     202        13        5         31        0         0         1
1         0     371      1212       13        584        6         0         0
2        26    1690      1956        5       1051        9         0         0
3         0      32       135        6        344        0         0         3
4         0     518      1793        8        942        0         0         1

In [17]:
# Display first 5 rows of test dataframe, check whether the same with shuffled one displayed before
test_df.head()

   language  cast_0  director  genre_0  company_0  country  cast_num  crew_num
0         0      65       186        4         13        7         1         2
1         0    1617      1869        5        618        0         0         1
2         0      78       983        6        451        0         1         3
3         0      64       153        0         18        0         2         1
4         0    1713      1980       16       1070        0         0         0

In [18]:
# Transfer type of ddtaframe to numpy array for training and test sets and label set
train_ary = np.array(train_set)
print(train_ary[0:5])
test_ary = np.array(test_df)
print(test_ary[0:5])
labl_ary = np.array(labl_df)
print(labl_ary[0:5])

[[   0  202   13    5   31    0    0    1]
 [   0  371 1212   13  584    6    0    0]
 [  26 1690 1956    5 1051    9    0    0]
 [   0   32  135    6  344    0    0    3]
 [   0  518 1793    8  942    0    0    1]]
[[   0   65  186    4   13    7    1    2]
 [   0 1617 1869    5  618    0    0    1]
 [   0   78  983    6  451    0    1    3]
 [   0   64  153    0   18    0    2    1]
 [   0 1713 1980   16 1070    0    0    0]]
[1. 0. 0. 1. 0.]

# Classification

So far, all data array required shall be organized in suitable format and correctly imported.

Training Features: train_ary

Training Labels: labl_ary

Testing Features: test_ary

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [20]:
from sklearn.naive_bayes import GaussianNB

In [21]:
from sklearn.svm import NuSVC

In [22]:
from sklearn.neural_network import MLPClassifier

In [23]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

In [24]:
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV

In [85]:
# Array of movies consists of features selected as input
X = train_ary

In [86]:
# Popularity label of sample data 0-unpopular 1-popular
y = labl_ary

# sklearn.neighbors.KNeighborsClassifierÂ¶

In [135]:
neigh = KNeighborsClassifier(n_neighbors=7)
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [136]:
# To predict popularity using test set's features
KNpredct_ary = neigh.predict(test_ary)

In [137]:
print(KNpredct_ary)

[1. 0. 1. ... 1. 1. 0.]

In [138]:
# Transfer the array of predicted popularity of test data into dataframe
KNpredct_df = pd.DataFrame(data=KNpredct_ary, columns=['popularity'])
KNpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         0.0
6         1.0
7         1.0
8         1.0
9         0.0

In [139]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(9, 'KNeigh', KNpredct_df['popularity'])

In [140]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh
0,0,65,186,4,13,7,1,2,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0

# sklearn.naive_bayes.GaussianNB

In [141]:
gaus = GaussianNB()
gaus.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [142]:
# To predict popularity using test set's features
NBpredct_ary = gaus.predict(test_ary)

In [143]:
print(NBpredct_ary)

[1. 0. 1. ... 1. 1. 1.]

In [144]:
# Transfer the array of predicted popularity of test data into dataframe
NBpredct_df = pd.DataFrame(data=NBpredct_ary, columns=['popularity'])
NBpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         1.0
6         1.0
7         1.0
8         1.0
9         1.0

In [145]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(10, 'NBGaus', NBpredct_df['popularity'])

In [146]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0

In [147]:
# naive_bayes.GaussianNB classifier using partial fit (weight)
gaus_pf = GaussianNB()
gaus_pf.partial_fit(X, y, np.unique(y))

GaussianNB(priors=None, var_smoothing=1e-09)

In [148]:
# To predict popularity using test set's features, partial fit (weight)
NBpredct_pf_ary = gaus_pf.predict(test_ary)

In [149]:
print(NBpredct_pf_ary)

[1. 0. 1. ... 1. 1. 1.]

In [150]:
# Transfer the array of predicted popularity of test data into dataframe
NBpredct_pf_df = pd.DataFrame(data=NBpredct_ary, columns=['popularity'])
NBpredct_pf_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         1.0
6         1.0
7         1.0
8         1.0
9         1.0

In [151]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(11, 'NBGaus_pf', NBpredct_pf_df['popularity'])

In [152]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus,NBGaus_pf
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0,0.0

# sklearn.svm.SVC

In [98]:
svc = NuSVC(gamma='auto')
svc.fit(X, y)

NuSVC(cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
   max_iter=-1, nu=0.5, probability=False, random_state=None,
   shrinking=True, tol=0.001, verbose=False)

In [99]:
# To predict popularity using test set's features
SVCpredct_ary = svc.predict(test_ary)

In [100]:
print(SVCpredct_ary)

[0. 0. 0. ... 0. 0. 0.]

In [101]:
# Transfer the array of predicted popularity of test data into dataframe
SVCpredct_df = pd.DataFrame(data=SVCpredct_ary, columns=['popularity'])
SVCpredct_df.head(10)

   popularity
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         1.0
6         0.0
7         0.0
8         0.0
9         0.0

# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(12, 'SVC', SVCpredct_df['popularity'])

test_wtpopl.head()

# sklarn.neural_network.MLPClassifier

sklearn.model_selection.GridSearchCV

This method provided by sklearn helps identify suitable parameters passed in to certain classifiers.

parameters = {'solver': ['adam'], 'max_iter': [1700,1800,1900,2000 ], 
              'alpha': 10.0 ** -np.arange(1, 7), 'hidden_layer_sizes':np.arange(10, 200), 
              'random_state':[0,1,2,3]}
clf = GridSearchCV(MLPClassifier(), parameters, n_jobs=-1, cv=5)
clf.fit(X, y)

print(clf.score(X, y))
print(clf.best_params_)

In [153]:
mlp = MLPClassifier(hidden_layer_sizes=(100, ), solver='adam', max_iter=2000, n_iter_no_change=100)

In [154]:
mlp.fit(X, y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=2000, momentum=0.9,
       n_iter_no_change=100, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [155]:
# To predict popularity using test set's features
MLPpredct_ary = mlp.predict(test_ary)
print(MLPpredct_ary)

[1. 0. 1. ... 1. 1. 1.]

In [156]:
MLPprob_each = mlp.predict_proba(test_ary)
MLPprob_each

array([[0.11539163, 0.88460837],
       [0.98513612, 0.01486388],
       [0.1472527 , 0.8527473 ],
       ...,
       [0.26610515, 0.73389485],
       [0.27344504, 0.72655496],
       [0.31778132, 0.68221868]])

In [157]:
pos_prob = []

In [158]:
for inner in MLPprob_each:
    pos_prob.append(inner[1])
pos_prob[0:10]

[0.884608371210628,
 0.01486388314458549,
 0.8527472962904087,
 0.8411090592538539,
 0.004264407903853516,
 0.11416332868678146,
 0.5669192723968205,
 0.9449603258966737,
 0.9949029143296578,
 0.16768059193798307]

In [159]:
# Transfer the array of predicted popularity of test data into dataframe
MLPpredct_df = pd.DataFrame(data=MLPpredct_ary, columns=['popularity'])
MLPpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         0.0
6         1.0
7         1.0
8         1.0
9         0.0

In [160]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(12, 'MLP', MLPpredct_df['popularity'])

In [161]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus,NBGaus_pf,MLP
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0,0.0,0.0

# sklearn.ensemble.VotingClassifier

Choose 3 classifiers: neigh, gaus, mlp

In [162]:
# 3 classifiers with hard voting
eclf1 = VotingClassifier(estimators=[('lr', neigh), ('rf', gaus), ('gnb', mlp)], voting='hard')
eclf1 = eclf1.fit(X, y)

In [163]:
# To predict popularity using test set's features
EHDpredct_ary = eclf1.predict(test_ary)
np.array_equal(eclf1.named_estimators_.lr.predict(X),eclf1.named_estimators_['lr'].predict(X))

True

In [164]:
print(EHDpredct_ary)

[1. 0. 1. ... 1. 1. 1.]

In [165]:
# Transfer the array of predicted popularity of test data into dataframe
EHDpredct_df = pd.DataFrame(data=EHDpredct_ary, columns=['popularity'])
EHDpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         0.0
6         1.0
7         1.0
8         1.0
9         0.0

In [166]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(13, 'EnsmblHD', EHDpredct_df['popularity'])

In [167]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus,NBGaus_pf,MLP,EnsmblHD
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

Ensemble 3 classifiers with soft voting

In [168]:
eclf2 = VotingClassifier(estimators=[('lr', neigh), ('rf', gaus), ('gnb', mlp)], voting='soft')
eclf2 = eclf2.fit(X, y)

In [169]:
# To predict popularity using test set's features
ESFpredct_ary = eclf2.predict(test_ary)

In [170]:
print(ESFpredct_ary)

[1. 0. 1. ... 1. 1. 1.]

In [171]:
# Transfer the array of predicted popularity of test data into dataframe
ESFpredct_df = pd.DataFrame(data=ESFpredct_ary, columns=['popularity'])
ESFpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         0.0
6         1.0
7         1.0
8         1.0
9         0.0

In [172]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(14, 'EnsmblSF', ESFpredct_df['popularity'])

In [173]:
test_wtpopl.head()

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus,NBGaus_pf,MLP,EnsmblHD,EnsmblSF
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Ensemble 3 classifiers with soft voting and weights

In [174]:
eclf3 = VotingClassifier(estimators=[('lr', neigh), ('rf', gaus), ('gnb', mlp)], voting='soft', weights=[2,1,1], 
                         flatten_transform=True)
eclf3 = eclf3.fit(X, y)

In [175]:
# To predict popularity using test set's features
ESWpredct_ary = eclf3.predict(test_ary)

print(eclf3.transform(X).shape)

(3194, 6)

In [176]:
print(ESWpredct_ary)

[1. 0. 1. ... 1. 1. 1.]

In [177]:
# Transfer the array of predicted popularity of test data into dataframe
ESWpredct_df = pd.DataFrame(data=ESWpredct_ary, columns=['popularity'])
ESWpredct_df.head(10)

   popularity
0         1.0
1         0.0
2         1.0
3         1.0
4         0.0
5         0.0
6         1.0
7         1.0
8         1.0
9         0.0

In [178]:
# Insert result into test_wtpopl, check the prediction correctness
test_wtpopl.insert(15, 'EnsmblSW', ESWpredct_df['popularity'])

In [179]:
test_wtpopl.head(20)

,language,cast_0,director,genre_0,company_0,country,cast_num,crew_num,popularity,KNeigh,NBGaus,NBGaus_pf,MLP,EnsmblHD,EnsmblSF,EnsmblSW
0,0,65,186,4,13,7,1,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0,1617,1869,5,618,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,78,983,6,451,0,1,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0,64,153,0,18,0,2,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0,1713,1980,16,1070,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,708,870,5,387,0,1,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
6,0,441,467,15,9,0,0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,0,324,162,8,15,0,1,3,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,0,183,123,1,0,6,3,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,0,522,792,8,55,0,0,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
10,0,199,1474,5,731,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0,511,634,8,15,0,0,1,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
12,0,435,1481,1,874,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0,1341,1223,15,15,0,0,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14,4,409,1714,5,624,12,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0,128,446,2,9,0,0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,0,200,420,0,15,0,0,0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
17,0,138,1702,5,911,0,1,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0,121,34,5,49,10,1,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,0,262,277,0,2,0,0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# Metrics for Performance Evaluation - Classifiers

# sklearn.metrics.accuracy_score

Notes:

In binary and multiclass classification, this function is equal to the jaccard_score function.

In [69]:
from sklearn.metrics import accuracy_score

In [142]:
# The 'correct' label is from popularity in test_wtpopl
y_true = test_wtpopl['popularity']
y_true.head()

0    1.0
1    0.0
2    1.0
3    1.0
4    0.0
Name: popularity, dtype: float64

In [68]:
# The result data used to evaluate is from 'classifer_name' in test_wtpopl
y_pred = test_wtpopl['KNeigh']
y_pred.head()

0    1.0
1    0.0
2    1.0
3    1.0
4    0.0
Name: KNeigh, dtype: float64

In [71]:
accuracy_score(y_true, y_pred)

0.7224310776942355

In [72]:
accuracy_score(y_true, y_pred, normalize=False)

1153

# Confusion Matrix

Apply sklearn.metrics.confusion_matrix to evaluate prediction result

In [89]:
from sklearn.metrics import confusion_matrix

In [90]:
confusion_matrix(y_true, y_pred)

array([[563, 229],
       [214, 590]])

In [91]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()

In [92]:
(tn, fp, fn, tp)

(563, 229, 214, 590)

Compute accuracy applying the most widely-used metric

In [95]:
accurcy = (tp+tn)/(tp+tn+fp+fn)
accurcy

0.7224310776942355

# Precision

In [102]:
from sklearn.metrics import precision_score

In [103]:
# Calculate metrics for each label, and find their unweighted mean. This does not take label imbalance into account.
precision_score(y_true, y_pred, average='macro')

0.7224862224862225

In [104]:
# Calculate metrics globally by counting the total true positives, false negatives and false positives.
precision_score(y_true, y_pred, average='micro')

0.7224310776942355

In [105]:
# Calculate metrics for each label, and find their average weighted by support (the number of true instances for each label). This alters âmacroâ to account for label imbalance; it can result in an F-score that is not between precision and recall.
precision_score(y_true, y_pred, average='weighted')

0.7224704668313691

In [106]:
# the scores for each class are returned.
precision_score(y_true, y_pred, average=None)

array([0.72458172, 0.72039072])

# Recall

# ROC Curve

In [126]:
from sklearn import metrics

In [154]:
# Probability predicted to be positive class(1), this case is MLP
scores = pos_prob

In [159]:
# Parameters: y_true -> test_wtpopl['popularity'], scores -> probability predicted of positive class(1) 
fpr, tpr, thresholds = metrics.roc_curve(y_true, scores, pos_label=1)

In [165]:
# False Positive Rate
fpr_df = pd.DataFrame(data=fpr)
fpr_df.head(10)

          0
0  0.000000
1  0.000000
2  0.000000
3  0.001263
4  0.001263
5  0.002525
6  0.002525
7  0.003788
8  0.003788
9  0.005051

In [166]:
# True Positive Rate
tpr_df = pd.DataFrame(data=tpr)
tpr_df.head(10)

          0
0  0.000000
1  0.001244
2  0.042289
3  0.042289
4  0.057214
5  0.057214
6  0.064677
7  0.064677
8  0.069652
9  0.069652

In [167]:
# Decreasing thresholds on the decision function used to compute fpr and tpr.thresholds[0] represents no instances being predicted and is arbitrarily set to max(y_score) + 1
thresholds_df = pd.DataFrame(data=thresholds)
thresholds_df.head(10)

          0
0  2.000000
1  1.000000
2  0.993493
3  0.991079
4  0.983686
5  0.983683
6  0.980189
7  0.980047
8  0.979374
9  0.979296

# Self Defined

Simply compare the popularity of origin test set with results we get from prediction of classifiers.

In [180]:
lnth = len(test_wtpopl)
print(lnth)

1596

In [181]:
count1 = 0
count2 = 0
count3 = 0
count4 = 0
count5 = 0
count6 = 0
count7 = 0

for index, row in test_wtpopl.iterrows():
    popl = row['popularity']
    reslt1 = row["KNeigh"]
    reslt2 = row["NBGaus"]
    reslt3 = row["NBGaus_pf"]
    reslt4 = row["MLP"]
    reslt5 = row["EnsmblHD"]
    reslt6 = row["EnsmblSF"]
    reslt7 = row["EnsmblSW"]
    
    if popl==reslt1:
        count1 = count1 + 1
    if popl==reslt2:
        count2 = count2 + 1
    if popl==reslt3:
        count3 = count3 + 1
    if popl==reslt4:
        count4 = count4 + 1
    if popl==reslt5:
        count5 = count5 + 1
    if popl==reslt6:
        count6 = count6 + 1
    if popl==reslt7:
        count7 = count7 + 1
        
corctns1 = count1/lnth
corctns2 = count2/lnth
corctns3 = count3/lnth
corctns4 = count4/lnth
corctns5 = count5/lnth
corctns6 = count6/lnth
corctns7 = count7/lnth

print("KNeighboyhood: ", corctns1)
print("Naive_bayes.GaussianNB: ", corctns2)
print("Naive_bayes.GaussianNB (partial fit): ", corctns3)
print("MLPClassifier: ", corctns4)
print("Ensemble HD Voting: ", corctns5)
print("Ensemble SF Voting: ", corctns6)
print("Ensemble Pro: ", corctns7)

KNeighboyhood:  0.7224310776942355
Naive_bayes.GaussianNB:  0.7431077694235589
Naive_bayes.GaussianNB (partial fit):  0.7431077694235589
MLPClassifier:  0.775062656641604
Ensemble HD Voting:  0.7487468671679198
Ensemble SF Voting:  0.7675438596491229
Ensemble Pro:  0.7600250626566416

In [182]:
# Export the result of certain round classification as backup, specify the version
test_wtpopl.to_csv('chp5_classifiers/version_X/result_vrs0.1.csv', index=False) # change to result_vrsX.csv